body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: "IBM Plex Sans", sans-serif;

  .top {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid #f0f0f0;

    .left, .right {
      flex-grow: 1;
    }

    .left {
      border-right: 1px solid #f0f0f0;
    }
  }

  .bottom {
    display: flex;
    flex-grow: 1;
  }
}