@use '@carbon/styles/scss/config' with (
  $font-path: '/fonts' // or wherever you serve the fonts from
);
@use '@carbon/react';
@use '@carbon/styles/scss/reset'; // optional: if you want Carbon's CSS reset

@use '@carbon/colors';

.header-icon {
  margin-right: 16px;
}

.cds--header__name {
  font-size: 16px !important;
  font-weight: normal !important;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  height: calc(100vh - 48px); // Adjust for header height
  overflow: hidden;

  .resizer {
    background-color: transparent;

    &:hover {
      background-color: colors.$blue-60;
    }

    &.resizer-left:hover,
    &.resizer-right:hover {
      cursor: ew-resize;
    }

    &.resizer-top:hover,
    &.resizer-bottom:hover {
      cursor: ns-resize;
    }
  }

  .conflicts-container {
    display: flex;
    flex-direction: column;
  }

  .conflicts {
    width: 100%;
    background: colors.$gray-10;
    overflow-y: auto;
    flex-grow: 1;

    .cds--tile {
      padding: 8px;
      min-block-size: initial;
      font-size: 16px;
    }

    .conflict {
      margin: 8px;

      &.conflict-a .conflict-details .comparison .local {
        background-color: colors.$blue-60;
        color: colors.$blue-20;
      }

      &.conflict-b .conflict-details .comparison .remote {
        background-color: colors.$yellow-20;
        color: colors.$yellow-60;
      }

      .conflict-details {
        display: none;
        // padding: 8px;
        margin-top: 8px;
        // background-color: colors.$gray-20;

        code {
          white-space: break-spaces;
          // background-color: colors.$blue-60;
          // color: colors.$blue-10;
          // display: inline-block;
          // padding: 2px;
        }

        .comparison {
          margin-top: 8px;
          display: flex;
          justify-content: space-between;
          
          .local {
            background-color: colors.$blue-30;
            color: colors.$blue-10;
            margin-right: 8px;
          }

          .remote {
            background-color: colors.$yellow-10;
            color: colors.$yellow-30;
          }

          .local,
          .remote {
            flex: 1;
            padding: 8px;
          }
        }
      }
    }

    .conflict-hovered {
      outline: 2px solid var(--cds-focus, colors.$blue-60);
      outline-offset: -2px;
      cursor: pointer;
    }
    
    .conflict-selected {
      outline: 2px solid var(--cds-focus, colors.$blue-60);
      outline-offset: -2px;

      .conflict-details {
        display: block;
      }
    }

    .conflict-title {
      display: flex;
      align-items: center;

      .conflict-title-left {
        flex-grow: 1;
      }

      .conflict-title-right {
        display: flex;
        align-items: center;

        button {
          margin-left: 8px;
        }
      }

      .cds--btn {
        padding: 0 !important;
        width: 24px !important;
        height: 24px !important;
        min-block-size: initial !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &.button-a {
          background-color: colors.$blue-30 !important;
          color: colors.$blue-10 !important;
          
          &:hover, &.selected {
            background-color: colors.$blue-60 !important;
            color: colors.$blue-20 !important;
          }
        }

        &.button-b {
          background-color: colors.$yellow-10 !important;
          color: colors.$yellow-30 !important;
          
          &:hover, &.selected {
            background-color: colors.$yellow-20 !important;
            color: colors.$yellow-60 !important;
          }
        }
      }
    }

    .conflict-icon {
      display: inline-block;
      margin-right: 8px;

      .conflict-icon-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;

        &:first-child {
          margin-right: 4px;
        }
      }
    }
  }

  .button-apply {
    width: 100% !important;
    max-inline-size: initial !important;
  }

  .diagrams {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .diagram-title {
      position: absolute;
      z-index: 100;
      top: 16px;
      left: 16px;
      font-size: 16px;
      display: flex;
      align-items: center;
      
      .letter {
        display: inline-flex;
        height: 24px;
        width: 24px;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-align: center;
        color: white;
        background-color: colors.$blue-60;
        font-weight: bold;
      }
      
      .title {
        background-color: colors.$gray-10;
        color: black;
        padding: 4px 8px;
      }
    }

    .diagram {
      width: 100%;
      height: 100%;

      .djs-container > svg {
        outline: none !important;
      }
    }

    .top {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      border-bottom: solid 1px colors.$gray-20;

      .left,
      .right {
        position: relative;
        flex-grow: 1;

        .bjs-powered-by {
          display: none;
        }
      }

      .left {
        border-right: solid 1px colors.$gray-20;

        .letter {
          background-color: colors.$blue-60;
          color: colors.$blue-20;
        }
      }

      .right {
        .letter {
          background-color: colors.$yellow-20;
          color: colors.$yellow-60;
        }
      }
    }

    .bottom {
      position: relative;
      flex-grow: 1;
    }
  }
}

.overlay {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }

  svg {
    width: 16px;
    height: 16px;
  }

  &.removed {
    background-color: #fff1f1;
    border: 1px solid #da1e28;

    svg {
      fill: #da1e28;
      width: 20px;
      height: 20px;
    }
  }

  &.added {
    background-color: #defbe6;
    border: 1px solid #198038;

    svg {
      fill: #198038;
      width: 20px;
      height: 20px;
    }
  }

  &.layout-changed {
    background-color: rgb(252, 244, 214);
    border: 1px solid rgb(178, 134, 0);

    .cls-1 {
      fill: rgb(178, 134, 0);
    }
  }

  &.changed {
    background-color: #edf5ff;
    border: 1px solid #4589ff;

    svg {
      fill: #4589ff;
    }
  }
}